.nav {
    background: #001524;
    text-align: center;
}

.nav img {
    width: 65%;
    margin-top: 25px;
}

.nav hr {
    width: 85%;
    margin: 25px auto;
}

.nav__link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: left;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    overflow: scroll;
}

.nav__link:hover {
    background-color: rgba(0, 141, 194, 0.5);
    border-radius: 8px;
    opacity: 1;
    transition: all .15s ease-in;
}

aside .bi {
    line-height: 1;
}

.beamed {
    background-color: rgba(0, 141, 194, 0.5);
    border-radius: 8px;
    opacity: 1;
    transition: all .15s ease-in;
}

.navbar-background {
    position: fixed;
    padding: 0;
    transition: all 0.5s ease;
}

.motion {
    left: 0!important;
    transform: translate(0);
}

.clicked {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
}

@media all and (max-width: 960px) {
    .nav {
        position: absolute;
        transition: all 0.5s ease-in-out;
        z-index: 10;
        left: -260px;
        top: 0;
        width: 260px;
        height: 100vh;
    }

    .clicked {
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }
}